{% load static %}
<!doctype html>
<html lang="en">
<html>

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'kc_app/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'kc_app/css/custom/main.css' %}">
    <!-- JS -->
    <link rel="js" href="{% static 'kc_app/js/main.js' %}"> {% if title %}
    <title>Kindness Cafe | {{ title }}</title>
    {% else %}
    <title>Kindness Cafe </title>
    {% endif %}

</head>

<body style="margin: 0;padding: 0;background-repeat: no-repeat;background-image: url('/static/kc_app/images/bg.jpg');background-size: cover;">

    <header class="site-header">
        <!--Navbar starts-->
        <nav class="navbar navbar-expand-md navbar-dark static-top mb-5">
            <div class="container">
                <a class="navbar-brand mr-4" href="{% url 'kc_app-home' %}"><b style="font-family: Arial, Helvetica, sans-serif;">Kindness Cafe</b></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav mr-auto">
                        <a class="nav-item nav-link" href="{% url 'kc_app-home' %}">HOME</a>
                        <a class="nav-item nav-link" href="{% url 'kc_app-cat_services' %}">SERVICES</a>
                        <a class="nav-item nav-link" href="{% url 'kc_app-order_online' %}">ORDER ONLINE</a>
                        <a class="nav-item nav-link" href="{% url 'kc_app-reviews' %}">REVIEWS</a>
                    </div>
                    <div class="navbar-nav">
                        <a class="nav-item nav-link" href="{% url 'kc_app-contact' %}">CONTACT US</a>
                        <a class="nav-item nav-link" href="{% url 'kc_app-about' %}">ABOUT</a>
                    </div>
                </div>
            </div>
        </nav>
        <!--Navbar ends-->
    </header>


    <main role="main">
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </main>

    <footer>

    </footer>

    <!-- Optional JavaScript <div class="bg_main " style="background-image: url( 'static/kc_app/images/bg.jpg') ">-->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js " integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n " crossorigin="anonymous "></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js " integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo " crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js " integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6 " crossorigin="anonymous "></script>

</body>

</html>